<table class='table'>
  <thread>
    <tr>
      <th scope='col'>Author</th>
      <th scope='col'>Age</th>
    </tr>  
  </thread>
  <tbody>
    <% @authors.each do |author| %>
      <tr>
        <td><%= link_to author.full_name, author_path(author) %></td>
        <td><%= author.age %></td>
        <td><%= link_to 'Delete Author', author_path(author), method: :delete, data: {confirm: 'Are you sure you want to delete this author?'} %></td>
        <td><%= link_to 'Edit Author', edit_author_path(author) %></td>
        <td><%= link_to 'Author Details', author_path(author) %></td>
      </tr>
    <% end %>
  </tbody>
</table>