<!DOCTYPE html>
<html>
  <head>
    <title>FhHomework02</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body>

    <div class="booyah-box col-10 ">
      <%= link_to 'Books', root_path, class: 'navbar-brand' %>
    </div>

    <div class="booyah-box col-10 ">
      <%= link_to 'Authors', authors_path, class: 'navbar-brand' %>
    </div>

    <div class="booyah-box col-10 ">
      <%= link_to 'Add Book', new_book_path, class: 'navbar-brand' %>
    </div>

    <div class="booyah-box col-10 ">
      <%= link_to 'Add Author', new_author_path, class: 'navbar-brand' %>
    </div>

    <br/>

    <div class="booyah-box col-10 ">
      <%= form_tag(books_path, method: "get") do %>
        <div>  
          <%= label_tag(:keyword, "Search for a book:") %>
        </div> 
        <%= text_field_tag(:keyword, nil, placeholder: 'Book Info') %>
        <%= submit_tag("Search") %>
      <% end %>
    </div>

    <br/><br/>

    <%= yield %>
  </body>
</html>
